<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        button{
            width: 20%;
            padding: 5px;
            background-color: blueviolet;
            color: white;
            display: inline-block;
            margin: auto;
            
        }
    </style>
</head>
<body style="padding: 5rem;">
    <form action="/login" method="post" style="width: 30%; margin: auto;">
        <input type="text" name="name">
        <input type="email" name="email">
<button type="submit">login</button>
</form>
</body>
</html>