<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        button{
            width: 20%;
            padding: 5px;
            background-color: blueviolet;
            color: white;
            display: inline-block;
            margin: auto;
            
        }
    </style>
</head>
<body style="padding: 5rem;">
    <h1>hi <%= name %></h1>
    <form action="/logout" method="get" style="width: 30%; margin: auto;">
<button type="submit">logout</button>
</form>
</body>
</html>